<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>python</key>
	<array>
		<string>Python_ios.framework/Python_ios</string>
		<string>python_main</string>
		<string>3bBc:dEhiJm:OQ:RsStuUvVW:xX?</string>
		<string>file</string>
	</array>
	<key>chgrp</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>chmod</key>
	<array>
		<string>files.framework/files</string>
		<string>chmod_main</string>
		<string>ACEHILNPRVXafghinorstuvwx</string>
		<string>file</string>
	</array>
	<key>chown</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>df</key>
	<array>
		<string>files.framework/files</string>
		<string>df_main</string>
		<string>abgHhiklmnPtT:</string>
		<string>file</string>
	</array>
	<key>id</key>
	<array>
		<string>shell.framework/shell</string>
		<string>id_main</string>
		<string>AFPGMagnpru</string>
		<string>no</string>
	</array>
	<key>lua</key>
	<array>
		<string>lua_ios.framework/lua_ios</string>
		<string>lua_main</string>
		<string>e:il:vE</string>
		<string>file</string>
	</array>
	<key>luac</key>
	<array>
		<string>lua_ios.framework/lua_ios</string>
		<string>luac_main</string>
		<string>lpsvo:</string>
		<string>file</string>
	</array>
</dict>
</plist>
