<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bsl</key>
	<array>
		<string>1c</string>
	</array>
	<key>os</key>
	<array>
		<string>1c</string>
	</array>
	<key>abnf</key>
	<array>
		<string>abnf</string>
	</array>
	<key>as</key>
	<array>
		<string>actionscript</string>
	</array>
	<key>adb</key>
	<array>
		<string>ada</string>
	</array>
	<key>ada</key>
	<array>
		<string>ada</string>
	</array>
	<key>ads</key>
	<array>
		<string>ada</string>
	</array>
	<key>apacheconf</key>
	<array>
		<string>apache</string>
	</array>
	<key>vhost</key>
	<array>
		<string>apache</string>
		<string>nginx</string>
	</array>
	<key>applescript</key>
	<array>
		<string>applescript</string>
	</array>
	<key>scpt</key>
	<array>
		<string>applescript</string>
	</array>
	<key>ino</key>
	<array>
		<string>cpp</string>
		<string>arduino</string>
	</array>
	<key>asc</key>
	<array>
		<string>asciidoc</string>
	</array>
	<key>aj</key>
	<array>
		<string>aspectj</string>
	</array>
	<key>ahk</key>
	<array>
		<string>autohotkey</string>
	</array>
	<key>au3</key>
	<array>
		<string>autohit</string>
	</array>
	<key>armasm</key>
	<array>
		<string>armasm</string>
	</array>
	<key>avrasm</key>
	<array>
		<string>avrasm</string>
	</array>
	<key>awk</key>
	<array>
		<string>awk</string>
	</array>
	<key>asciidoc</key>
	<array>
		<string>asciidoc</string>
	</array>
	<key>adoc</key>
	<array>
		<string>adoc</string>
	</array>
	<key>ahkl</key>
	<array>
		<string>autohotkey</string>
	</array>
	<key>auk</key>
	<array>
		<string>awk</string>
	</array>
	<key>gawk</key>
	<array>
		<string>awk</string>
	</array>
	<key>mawk</key>
	<array>
		<string>awk</string>
	</array>
	<key>nawk</key>
	<array>
		<string>awk</string>
	</array>
	<key>sh</key>
	<array>
		<string>bash</string>
	</array>
	<key>bash</key>
	<array>
		<string>bash</string>
	</array>
	<key>bats</key>
	<array>
		<string>bash</string>
	</array>
	<key>command</key>
	<array>
		<string>bash</string>
	</array>
	<key>ksh</key>
	<array>
		<string>bash</string>
	</array>
	<key>zsh</key>
	<array>
		<string>bash</string>
	</array>
	<key>bb</key>
	<array>
		<string>basic</string>
	</array>
	<key>decls</key>
	<array>
		<string>basic</string>
	</array>
	<key>pb</key>
	<array>
		<string>purebasic</string>
		<string>basic</string>
	</array>
	<key>pbi</key>
	<array>
		<string>purebasic</string>
		<string>basic</string>
	</array>
	<key>rbbas</key>
	<array>
		<string>basic</string>
	</array>
	<key>rbfrm</key>
	<array>
		<string>basic</string>
	</array>
	<key>rbmnu</key>
	<array>
		<string>basic</string>
	</array>
	<key>rbres</key>
	<array>
		<string>basic</string>
	</array>
	<key>rbtbar</key>
	<array>
		<string>basic</string>
	</array>
	<key>rbuistate</key>
	<array>
		<string>basic</string>
	</array>
	<key>vb</key>
	<array>
		<string>basic</string>
	</array>
	<key>bas</key>
	<array>
		<string>basic</string>
	</array>
	<key>cls</key>
	<array>
		<string>basic</string>
		<string>tex</string>
	</array>
	<key>frm</key>
	<array>
		<string>basic</string>
	</array>
	<key>frx</key>
	<array>
		<string>basic</string>
	</array>
	<key>vba</key>
	<array>
		<string>basic</string>
	</array>
	<key>vbhtml</key>
	<array>
		<string>basic</string>
	</array>
	<key>vbs</key>
	<array>
		<string>basic</string>
	</array>
	<key>b</key>
	<array>
		<string>brainfuck</string>
	</array>
	<key>bf</key>
	<array>
		<string>brainfuck</string>
	</array>
	<key>cp</key>
	<array>
		<string>delphi</string>
		<string>cpp</string>
	</array>
	<key>cps</key>
	<array>
		<string>delphi</string>
	</array>
	<key>pas</key>
	<array>
		<string>delphi</string>
	</array>
	<key>dfm</key>
	<array>
		<string>delphi</string>
	</array>
	<key>dpr</key>
	<array>
		<string>delphi</string>
	</array>
	<key>inc</key>
	<array>
		<string>cpp</string>
		<string>delphi</string>
		<string>php</string>
		<string>sql</string>
		<string>armasm</string>
		<string>armasm</string>
		<string>mipsasm</string>
		<string>x86asm</string>
	</array>
	<key>lpr</key>
	<array>
		<string>delphi</string>
	</array>
	<key>pascal</key>
	<array>
		<string>delphi</string>
	</array>
	<key>pp</key>
	<array>
		<string>delphi</string>
		<string>puppet</string>
	</array>
	<key>capnp</key>
	<array>
		<string>capnproto</string>
	</array>
	<key>ceylon</key>
	<array>
		<string>ceylon</string>
	</array>
	<key>icl</key>
	<array>
		<string>clean</string>
	</array>
	<key>dcl</key>
	<array>
		<string>clean</string>
	</array>
	<key>clj</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>boot</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cl2</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cljc</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cljs</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cljscm</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cljx</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>hic</key>
	<array>
		<string>clojure</string>
		<string>clojure.repl</string>
	</array>
	<key>cmake</key>
	<array>
		<string>cmake</string>
	</array>
	<key>coffee</key>
	<array>
		<string>coffeescript</string>
	</array>
	<key>_coffee</key>
	<array>
		<string>coffeescript</string>
	</array>
	<key>cake</key>
	<array>
		<string>coffeescript</string>
		<string>cs</string>
	</array>
	<key>cjsx</key>
	<array>
		<string>coffeescript</string>
	</array>
	<key>iced</key>
	<array>
		<string>coffeescript</string>
	</array>
	<key>coq</key>
	<array>
		<string>coq</string>
	</array>
	<key>v</key>
	<array>
		<string>coq</string>
		<string>verilog</string>
	</array>
	<key>cpp</key>
	<array>
		<string>cpp</string>
	</array>
	<key>c++</key>
	<array>
		<string>cpp</string>
	</array>
	<key>cc</key>
	<array>
		<string>cpp</string>
	</array>
	<key>cxx</key>
	<array>
		<string>cpp</string>
	</array>
	<key>h</key>
	<array>
		<string>objectivec</string>
		<string>cpp</string>
		<string>c</string>
	</array>
	<key>h++</key>
	<array>
		<string>cpp</string>
	</array>
	<key>hh</key>
	<array>
		<string>cpp</string>
	</array>
	<key>hpp</key>
	<array>
		<string>cpp</string>
	</array>
	<key>hxx</key>
	<array>
		<string>cpp</string>
	</array>
	<key>inl</key>
	<array>
		<string>cpp</string>
	</array>
	<key>ipp</key>
	<array>
		<string>cpp</string>
	</array>
	<key>re</key>
	<array>
		<string>cpp</string>
	</array>
	<key>tcc</key>
	<array>
		<string>cpp</string>
	</array>
	<key>tpp</key>
	<array>
		<string>cpp</string>
	</array>
	<key>c</key>
	<array>
		<string>cpp</string>
	</array>
	<key>cr</key>
	<array>
		<string>crystal</string>
	</array>
	<key>cs</key>
	<array>
		<string>cs</string>
		<string>smalltalk</string>
	</array>
	<key>cats</key>
	<array>
		<string>cpp</string>
	</array>
	<key>idc</key>
	<array>
		<string>cpp</string>
	</array>
	<key>cshtml</key>
	<array>
		<string>cs</string>
	</array>
	<key>csx</key>
	<array>
		<string>cs</string>
	</array>
	<key>css</key>
	<array>
		<string>css</string>
	</array>
	<key>d</key>
	<array>
		<string>d</string>
		<string>makefile</string>
	</array>
	<key>di</key>
	<array>
		<string>d</string>
	</array>
	<key>dart</key>
	<array>
		<string>dart</string>
	</array>
	<key>diff</key>
	<array>
		<string>diff</string>
	</array>
	<key>patch</key>
	<array>
		<string>diff</string>
	</array>
	<key>jinja</key>
	<array>
		<string>django</string>
	</array>
	<key>mustache</key>
	<array>
		<string>django</string>
	</array>
	<key>njk</key>
	<array>
		<string>django</string>
	</array>
	<key>zone</key>
	<array>
		<string>dns</string>
	</array>
	<key>arpa</key>
	<array>
		<string>arpa</string>
	</array>
	<key>dockerfile</key>
	<array>
		<string>dockerfile</string>
	</array>
	<key>bat</key>
	<array>
		<string>dos</string>
	</array>
	<key>cmd</key>
	<array>
		<string>dos</string>
	</array>
	<key>ebnf</key>
	<array>
		<string>ebnf</string>
	</array>
	<key>ex</key>
	<array>
		<string>elixir</string>
	</array>
	<key>exs</key>
	<array>
		<string>elixir</string>
	</array>
	<key>elm</key>
	<array>
		<string>elm</string>
	</array>
	<key>erb</key>
	<array>
		<string>erb</string>
	</array>
	<key>erl</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
	</array>
	<key>es</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
		<string>javascript</string>
	</array>
	<key>escript</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
	</array>
	<key>hrl</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
	</array>
	<key>xrl</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
	</array>
	<key>yrl</key>
	<array>
		<string>erlang</string>
		<string>erlang-repl</string>
	</array>
	<key>f90</key>
	<array>
		<string>fortran</string>
	</array>
	<key>f</key>
	<array>
		<string>fortran</string>
	</array>
	<key>f03</key>
	<array>
		<string>fortran</string>
	</array>
	<key>f08</key>
	<array>
		<string>fortran</string>
	</array>
	<key>f77</key>
	<array>
		<string>fortran</string>
	</array>
	<key>f95</key>
	<array>
		<string>fortran</string>
	</array>
	<key>for</key>
	<array>
		<string>fortran</string>
	</array>
	<key>fpp</key>
	<array>
		<string>fortran</string>
	</array>
	<key>fs</key>
	<array>
		<string>fsharp</string>
		<string>glsl</string>
	</array>
	<key>fsi</key>
	<array>
		<string>fsharp</string>
	</array>
	<key>fsx</key>
	<array>
		<string>fsharp</string>
	</array>
	<key>gms</key>
	<array>
		<string>gams</string>
	</array>
	<key>g</key>
	<array>
		<string>gcode</string>
	</array>
	<key>gco</key>
	<array>
		<string>gcode</string>
	</array>
	<key>gcode</key>
	<array>
		<string>gcode</string>
	</array>
	<key>feature</key>
	<array>
		<string>gherkin</string>
	</array>
	<key>glsl</key>
	<array>
		<string>glsl</string>
	</array>
	<key>fp</key>
	<array>
		<string>glsl</string>
	</array>
	<key>frag</key>
	<array>
		<string>glsl</string>
		<string>javascript</string>
	</array>
	<key>frg</key>
	<array>
		<string>glsl</string>
	</array>
	<key>fshader</key>
	<array>
		<string>glsl</string>
	</array>
	<key>geo</key>
	<array>
		<string>glsl</string>
	</array>
	<key>geom</key>
	<array>
		<string>glsl</string>
	</array>
	<key>glslv</key>
	<array>
		<string>glsl</string>
	</array>
	<key>gshader</key>
	<array>
		<string>glsl</string>
	</array>
	<key>shader</key>
	<array>
		<string>glsl</string>
	</array>
	<key>tesc</key>
	<array>
		<string>glsl</string>
	</array>
	<key>tese</key>
	<array>
		<string>glsl</string>
	</array>
	<key>fsh</key>
	<array>
		<string>glsl</string>
	</array>
	<key>vert</key>
	<array>
		<string>glsl</string>
	</array>
	<key>vrx</key>
	<array>
		<string>glsl</string>
	</array>
	<key>vsh</key>
	<array>
		<string>glsl</string>
	</array>
	<key>vshader</key>
	<array>
		<string>glsl</string>
	</array>
	<key>go</key>
	<array>
		<string>go</string>
	</array>
	<key>golo</key>
	<array>
		<string>golo</string>
	</array>
	<key>gradle</key>
	<array>
		<string>gradle</string>
	</array>
	<key>groovy</key>
	<array>
		<string>groovy</string>
	</array>
	<key>grt</key>
	<array>
		<string>groovy</string>
	</array>
	<key>gtpl</key>
	<array>
		<string>groovy</string>
	</array>
	<key>gvy</key>
	<array>
		<string>groovy</string>
	</array>
	<key>haml</key>
	<array>
		<string>haml</string>
	</array>
	<key>handlebars</key>
	<array>
		<string>handlebars</string>
		<string>htmlbars</string>
	</array>
	<key>hbs</key>
	<array>
		<string>handlebars</string>
		<string>htmlbars</string>
	</array>
	<key>hs</key>
	<array>
		<string>haskell</string>
	</array>
	<key>hsc</key>
	<array>
		<string>haskell</string>
	</array>
	<key>hx</key>
	<array>
		<string>haxe</string>
	</array>
	<key>hxsl</key>
	<array>
		<string>haxe</string>
	</array>
	<key>http</key>
	<array>
		<string>http</string>
	</array>
	<key>ni</key>
	<array>
		<string>inform7</string>
	</array>
	<key>i7x</key>
	<array>
		<string>inform7</string>
	</array>
	<key>ini</key>
	<array>
		<string>ini</string>
	</array>
	<key>cfg</key>
	<array>
		<string>ini</string>
	</array>
	<key>prefs</key>
	<array>
		<string>ini</string>
	</array>
	<key>pro</key>
	<array>
		<string>ini</string>
		<string>prolog</string>
	</array>
	<key>properties</key>
	<array>
		<string>ini</string>
	</array>
	<key>java</key>
	<array>
		<string>java</string>
	</array>
	<key>js</key>
	<array>
		<string>javascript</string>
	</array>
	<key>_js</key>
	<array>
		<string>javascript</string>
	</array>
	<key>bones</key>
	<array>
		<string>javascript</string>
	</array>
	<key>es6</key>
	<array>
		<string>javascript</string>
	</array>
	<key>gs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jake</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jsb</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jscad</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jsfl</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jsm</key>
	<array>
		<string>javascript</string>
	</array>
	<key>jss</key>
	<array>
		<string>javascript</string>
	</array>
	<key>mjs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>njs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>pac</key>
	<array>
		<string>javascript</string>
	</array>
	<key>sjs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>ssjs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>xsjs</key>
	<array>
		<string>javascript</string>
	</array>
	<key>xsjslib</key>
	<array>
		<string>javascript</string>
	</array>
	<key>json</key>
	<array>
		<string>json</string>
	</array>
	<key>geojson</key>
	<array>
		<string>json</string>
	</array>
	<key>JSON-tmLanguage</key>
	<array>
		<string>json</string>
	</array>
	<key>topojson</key>
	<array>
		<string>json</string>
	</array>
	<key>jl</key>
	<array>
		<string>julia</string>
	</array>
	<key>kt</key>
	<array>
		<string>kotlin</string>
	</array>
	<key>ktm</key>
	<array>
		<string>kotlin</string>
	</array>
	<key>kts</key>
	<array>
		<string>kotlin</string>
	</array>
	<key>lasso</key>
	<array>
		<string>lasso</string>
	</array>
	<key>las</key>
	<array>
		<string>lasso</string>
	</array>
	<key>lasso8</key>
	<array>
		<string>lasso</string>
	</array>
	<key>lasso9</key>
	<array>
		<string>lasso</string>
	</array>
	<key>ldml</key>
	<array>
		<string>lasso</string>
	</array>
	<key>less</key>
	<array>
		<string>less</string>
	</array>
	<key>lisp</key>
	<array>
		<string>lisp</string>
	</array>
	<key>asd</key>
	<array>
		<string>lisp</string>
	</array>
	<key>cl</key>
	<array>
		<string>lisp</string>
	</array>
	<key>l</key>
	<array>
		<string>lisp</string>
	</array>
	<key>lsp</key>
	<array>
		<string>lisp</string>
	</array>
	<key>ny</key>
	<array>
		<string>lisp</string>
	</array>
	<key>podsl</key>
	<array>
		<string>lisp</string>
	</array>
	<key>sexp</key>
	<array>
		<string>lisp</string>
	</array>
	<key>ls</key>
	<array>
		<string>livescript</string>
	</array>
	<key>_ls</key>
	<array>
		<string>livescript</string>
	</array>
	<key>ll</key>
	<array>
		<string>llvm</string>
	</array>
	<key>lsl</key>
	<array>
		<string>lsl</string>
	</array>
	<key>lslp</key>
	<array>
		<string>lsl</string>
	</array>
	<key>lua</key>
	<array>
		<string>lua</string>
	</array>
	<key>nse</key>
	<array>
		<string>lua</string>
	</array>
	<key>pd_lua</key>
	<array>
		<string>lua</string>
	</array>
	<key>rbxs</key>
	<array>
		<string>lua</string>
	</array>
	<key>wlua</key>
	<array>
		<string>lua</string>
	</array>
	<key>mak</key>
	<array>
		<string>makefile</string>
	</array>
	<key>make</key>
	<array>
		<string>makefile</string>
	</array>
	<key>mk</key>
	<array>
		<string>makefile</string>
	</array>
	<key>mkfile</key>
	<array>
		<string>makefile</string>
	</array>
	<key>mathematica</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>cdf</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>m</key>
	<array>
		<string>objectivec</string>
		<string>mathematica</string>
		<string>matlab</string>
		<string>mercury</string>
	</array>
	<key>ma</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>mt</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>nb</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>nbp</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>wl</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>wlt</key>
	<array>
		<string>mathematica</string>
	</array>
	<key>matlab</key>
	<array>
		<string>matlab</string>
	</array>
	<key>moo</key>
	<array>
		<string>mercury</string>
	</array>
	<key>mipsasm</key>
	<array>
		<string>mipsasm</string>
	</array>
	<key>monkey</key>
	<array>
		<string>monkey</string>
	</array>
	<key>monkey2</key>
	<array>
		<string>monkey</string>
	</array>
	<key>moon</key>
	<array>
		<string>moonscript</string>
	</array>
	<key>nginxconf</key>
	<array>
		<string>nginx</string>
	</array>
	<key>nim</key>
	<array>
		<string>nimrod</string>
	</array>
	<key>nimrod</key>
	<array>
		<string>nimrod</string>
	</array>
	<key>nix</key>
	<array>
		<string>nix</string>
	</array>
	<key>nsi</key>
	<array>
		<string>nsis</string>
	</array>
	<key>nsh</key>
	<array>
		<string>nsis</string>
	</array>
	<key>mm</key>
	<array>
		<string>objectivec</string>
	</array>
	<key>ml</key>
	<array>
		<string>ocaml</string>
		<string>sml</string>
	</array>
	<key>eliom</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>eliomi</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>ml4</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>mli</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>mll</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>mly</key>
	<array>
		<string>ocaml</string>
	</array>
	<key>scad</key>
	<array>
		<string>openscad</string>
	</array>
	<key>oxygene</key>
	<array>
		<string>oxygene</string>
	</array>
	<key>cgi</key>
	<array>
		<string>bash</string>
		<string>perl</string>
		<string>python</string>
	</array>
	<key>pl</key>
	<array>
		<string>perl</string>
		<string>prolog</string>
	</array>
	<key>al</key>
	<array>
		<string>perl</string>
	</array>
	<key>perl</key>
	<array>
		<string>perl</string>
	</array>
	<key>ph</key>
	<array>
		<string>perl</string>
	</array>
	<key>plx</key>
	<array>
		<string>perl</string>
	</array>
	<key>pm</key>
	<array>
		<string>perl</string>
	</array>
	<key>psgi</key>
	<array>
		<string>perl</string>
	</array>
	<key>t</key>
	<array>
		<string>perl</string>
	</array>
	<key>fcgi</key>
	<array>
		<string>bash</string>
		<string>perl</string>
		<string>ruby</string>
		<string>lua</string>
		<string>php</string>
	</array>
	<key>php</key>
	<array>
		<string>php</string>
	</array>
	<key>aw</key>
	<array>
		<string>php</string>
	</array>
	<key>ctp</key>
	<array>
		<string>php</string>
	</array>
	<key>php3</key>
	<array>
		<string>php</string>
	</array>
	<key>php4</key>
	<array>
		<string>php</string>
	</array>
	<key>php5</key>
	<array>
		<string>php</string>
	</array>
	<key>phps</key>
	<array>
		<string>php</string>
	</array>
	<key>phpt</key>
	<array>
		<string>php</string>
	</array>
	<key>pony</key>
	<array>
		<string>pony</string>
	</array>
	<key>ps1</key>
	<array>
		<string>powershell</string>
	</array>
	<key>psd1</key>
	<array>
		<string>powershell</string>
	</array>
	<key>psm1</key>
	<array>
		<string>powershell</string>
	</array>
	<key>pde</key>
	<array>
		<string>processing</string>
	</array>
	<key>prolog</key>
	<array>
		<string>prolog</string>
	</array>
	<key>yap</key>
	<array>
		<string>prolog</string>
	</array>
	<key>proto</key>
	<array>
		<string>protobuf</string>
	</array>
	<key>py</key>
	<array>
		<string>python</string>
	</array>
	<key>bzl</key>
	<array>
		<string>python</string>
	</array>
	<key>gyp</key>
	<array>
		<string>python</string>
	</array>
	<key>gypi</key>
	<array>
		<string>python</string>
	</array>
	<key>lmi</key>
	<array>
		<string>python</string>
	</array>
	<key>py3</key>
	<array>
		<string>python</string>
	</array>
	<key>pyde</key>
	<array>
		<string>python</string>
	</array>
	<key>pyi</key>
	<array>
		<string>python</string>
	</array>
	<key>pyp</key>
	<array>
		<string>python</string>
	</array>
	<key>pyt</key>
	<array>
		<string>python</string>
	</array>
	<key>pyw</key>
	<array>
		<string>python</string>
	</array>
	<key>rpy</key>
	<array>
		<string>python</string>
	</array>
	<key>spec</key>
	<array>
		<string>python</string>
		<string>ruby</string>
	</array>
	<key>tac</key>
	<array>
		<string>python</string>
	</array>
	<key>wsgi</key>
	<array>
		<string>python</string>
	</array>
	<key>xpy</key>
	<array>
		<string>python</string>
	</array>
	<key>qml</key>
	<array>
		<string>qml</string>
	</array>
	<key>qbs</key>
	<array>
		<string>qml</string>
	</array>
	<key>r</key>
	<array>
		<string>r</string>
	</array>
	<key>rd</key>
	<array>
		<string>r</string>
	</array>
	<key>rsx</key>
	<array>
		<string>r</string>
	</array>
	<key>rb</key>
	<array>
		<string>ruby</string>
	</array>
	<key>builder</key>
	<array>
		<string>ruby</string>
	</array>
	<key>eye</key>
	<array>
		<string>ruby</string>
	</array>
	<key>gemspec</key>
	<array>
		<string>ruby</string>
	</array>
	<key>god</key>
	<array>
		<string>ruby</string>
	</array>
	<key>jbuilder</key>
	<array>
		<string>ruby</string>
	</array>
	<key>mspec</key>
	<array>
		<string>ruby</string>
	</array>
	<key>pluginspec</key>
	<array>
		<string>xml</string>
	</array>
	<key>podspec</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rabl</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rake</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rbuild</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rbw</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rbx</key>
	<array>
		<string>ruby</string>
	</array>
	<key>ru</key>
	<array>
		<string>ruby</string>
	</array>
	<key>ruby</key>
	<array>
		<string>ruby</string>
	</array>
	<key>thor</key>
	<array>
		<string>ruby</string>
	</array>
	<key>watchr</key>
	<array>
		<string>ruby</string>
	</array>
	<key>rs</key>
	<array>
		<string>rust</string>
	</array>
	<key>scala</key>
	<array>
		<string>scala</string>
	</array>
	<key>kojo</key>
	<array>
		<string>scala</string>
	</array>
	<key>sbt</key>
	<array>
		<string>scala</string>
	</array>
	<key>sc</key>
	<array>
		<string>scala</string>
	</array>
	<key>scm</key>
	<array>
		<string>scheme</string>
	</array>
	<key>sch</key>
	<array>
		<string>xml</string>
	</array>
	<key>sld</key>
	<array>
		<string>scheme</string>
	</array>
	<key>sls</key>
	<array>
		<string>scheme</string>
	</array>
	<key>sps</key>
	<array>
		<string>scheme</string>
	</array>
	<key>ss</key>
	<array>
		<string>scheme</string>
	</array>
	<key>sci</key>
	<array>
		<string>scilab</string>
	</array>
	<key>sce</key>
	<array>
		<string>scilab</string>
	</array>
	<key>tst</key>
	<array>
		<string>scilab</string>
	</array>
	<key>scss</key>
	<array>
		<string>scss</string>
	</array>
	<key>smali</key>
	<array>
		<string>smali</string>
	</array>
	<key>st</key>
	<array>
		<string>smalltalk</string>
	</array>
	<key>fun</key>
	<array>
		<string>sml</string>
	</array>
	<key>sig</key>
	<array>
		<string>sml</string>
	</array>
	<key>sml</key>
	<array>
		<string>sml</string>
	</array>
	<key>sqf</key>
	<array>
		<string>sqf</string>
	</array>
	<key>hqf</key>
	<array>
		<string>sqf</string>
	</array>
	<key>sql</key>
	<array>
		<string>sql</string>
	</array>
	<key>cql</key>
	<array>
		<string>sql</string>
	</array>
	<key>ddl</key>
	<array>
		<string>sql</string>
	</array>
	<key>mysql</key>
	<array>
		<string>sql</string>
	</array>
	<key>prc</key>
	<array>
		<string>sql</string>
	</array>
	<key>tab</key>
	<array>
		<string>sql</string>
	</array>
	<key>udf</key>
	<array>
		<string>sql</string>
	</array>
	<key>viw</key>
	<array>
		<string>sql</string>
	</array>
	<key>stan</key>
	<array>
		<string>stan</string>
	</array>
	<key>do</key>
	<array>
		<string>stata</string>
	</array>
	<key>ado</key>
	<array>
		<string>stata</string>
	</array>
	<key>doh</key>
	<array>
		<string>stata</string>
	</array>
	<key>ihlp</key>
	<array>
		<string>stata</string>
	</array>
	<key>mata</key>
	<array>
		<string>stata</string>
	</array>
	<key>matah</key>
	<array>
		<string>stata</string>
	</array>
	<key>sthlp</key>
	<array>
		<string>stata</string>
	</array>
	<key>styl</key>
	<array>
		<string>stylus</string>
	</array>
	<key>swift</key>
	<array>
		<string>swift</string>
	</array>
	<key>tcl</key>
	<array>
		<string>tcl</string>
	</array>
	<key>adp</key>
	<array>
		<string>tcl</string>
	</array>
	<key>tm</key>
	<array>
		<string>tcl</string>
	</array>
	<key>tex</key>
	<array>
		<string>tex</string>
	</array>
	<key>aux</key>
	<array>
		<string>tex</string>
	</array>
	<key>bbx</key>
	<array>
		<string>tex</string>
	</array>
	<key>bib</key>
	<array>
		<string>tex</string>
	</array>
	<key>cbx</key>
	<array>
		<string>tex</string>
	</array>
	<key>dtx</key>
	<array>
		<string>tex</string>
	</array>
	<key>ins</key>
	<array>
		<string>tex</string>
	</array>
	<key>lbx</key>
	<array>
		<string>tex</string>
	</array>
	<key>ltx</key>
	<array>
		<string>tex</string>
	</array>
	<key>mkii</key>
	<array>
		<string>tex</string>
	</array>
	<key>mkiv</key>
	<array>
		<string>tex</string>
	</array>
	<key>mkvi</key>
	<array>
		<string>tex</string>
	</array>
	<key>sty</key>
	<array>
		<string>tex</string>
	</array>
	<key>toc</key>
	<array>
		<string>tex</string>
	</array>
	<key>thrift</key>
	<array>
		<string>thrift</string>
	</array>
	<key>twig</key>
	<array>
		<string>twig</string>
	</array>
	<key>ts</key>
	<array>
		<string>xml</string>
	</array>
	<key>tsx</key>
	<array>
		<string>xml</string>
	</array>
	<key>vala</key>
	<array>
		<string>vala</string>
	</array>
	<key>vapi</key>
	<array>
		<string>vala</string>
	</array>
	<key>veo</key>
	<array>
		<string>verilog</string>
	</array>
	<key>vhdl</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vhd</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vhf</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vhi</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vho</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vhs</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vht</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vhw</key>
	<array>
		<string>vhdl</string>
	</array>
	<key>vim</key>
	<array>
		<string>wim</string>
	</array>
	<key>asm</key>
	<array>
		<string>armasm</string>
		<string>avrasm</string>
		<string>mipsasm</string>
		<string>x86asm</string>
	</array>
	<key>a51</key>
	<array>
		<string>armasm</string>
		<string>avrasm</string>
		<string>mipsasm</string>
		<string>x86asm</string>
	</array>
	<key>xml</key>
	<array>
		<string>xml</string>
	</array>
	<key>adml</key>
	<array>
		<string>xml</string>
	</array>
	<key>admx</key>
	<array>
		<string>xml</string>
	</array>
	<key>ant</key>
	<array>
		<string>xml</string>
	</array>
	<key>axml</key>
	<array>
		<string>xml</string>
	</array>
	<key>builds</key>
	<array>
		<string>xml</string>
	</array>
	<key>ccproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>ccxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>clixml</key>
	<array>
		<string>xml</string>
	</array>
	<key>cproject</key>
	<array>
		<string>xml</string>
	</array>
	<key>sscfg</key>
	<array>
		<string>xml</string>
	</array>
	<key>csdef</key>
	<array>
		<string>xml</string>
	</array>
	<key>csl</key>
	<array>
		<string>xml</string>
	</array>
	<key>csproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>ct</key>
	<array>
		<string>xml</string>
	</array>
	<key>depproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>dita</key>
	<array>
		<string>xml</string>
	</array>
	<key>ditamap</key>
	<array>
		<string>xml</string>
	</array>
	<key>ditaval</key>
	<array>
		<string>xml</string>
	</array>
	<key>dotsettings</key>
	<array>
		<string>xml</string>
	</array>
	<key>filters</key>
	<array>
		<string>xml</string>
	</array>
	<key>fsproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>fxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>glade</key>
	<array>
		<string>xml</string>
	</array>
	<key>gml</key>
	<array>
		<string>xml</string>
	</array>
	<key>grxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>iml</key>
	<array>
		<string>xml</string>
	</array>
	<key>ivy</key>
	<array>
		<string>xml</string>
	</array>
	<key>jelly</key>
	<array>
		<string>xml</string>
	</array>
	<key>jsproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>kml</key>
	<array>
		<string>xml</string>
	</array>
	<key>launch</key>
	<array>
		<string>xml</string>
	</array>
	<key>mdpolicy</key>
	<array>
		<string>xml</string>
	</array>
	<key>mjml</key>
	<array>
		<string>xml</string>
	</array>
	<key>mod</key>
	<array>
		<string>xml</string>
	</array>
	<key>mxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>natvis</key>
	<array>
		<string>xml</string>
	</array>
	<key>ndproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>nproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>nuspec</key>
	<array>
		<string>xml</string>
	</array>
	<key>odd</key>
	<array>
		<string>xml</string>
	</array>
	<key>osm</key>
	<array>
		<string>xml</string>
	</array>
	<key>pkgproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>plist</key>
	<array>
		<string>xml</string>
	</array>
	<key>proj</key>
	<array>
		<string>xml</string>
	</array>
	<key>props</key>
	<array>
		<string>xml</string>
	</array>
	<key>ps1xml</key>
	<array>
		<string>xml</string>
	</array>
	<key>psc1</key>
	<array>
		<string>xml</string>
	</array>
	<key>pt</key>
	<array>
		<string>xml</string>
	</array>
	<key>rdf</key>
	<array>
		<string>xml</string>
	</array>
	<key>resx</key>
	<array>
		<string>xml</string>
	</array>
	<key>rss</key>
	<array>
		<string>xml</string>
	</array>
	<key>scxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>sfproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>shproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>srdf</key>
	<array>
		<string>xml</string>
	</array>
	<key>storyboard</key>
	<array>
		<string>xml</string>
	</array>
	<key>stTheme</key>
	<array>
		<string>xml</string>
	</array>
	<key>sublime-snippet</key>
	<array>
		<string>xml</string>
	</array>
	<key>targets</key>
	<array>
		<string>xml</string>
	</array>
	<key>tmCommand</key>
	<array>
		<string>xml</string>
	</array>
	<key>tml</key>
	<array>
		<string>xml</string>
	</array>
	<key>tmLanguage</key>
	<array>
		<string>xml</string>
	</array>
	<key>tmPreferences</key>
	<array>
		<string>xml</string>
	</array>
	<key>tmSnippet</key>
	<array>
		<string>xml</string>
	</array>
	<key>tmTheme</key>
	<array>
		<string>xml</string>
	</array>
	<key>ui</key>
	<array>
		<string>xml</string>
	</array>
	<key>urdf</key>
	<array>
		<string>xml</string>
	</array>
	<key>ux</key>
	<array>
		<string>xml</string>
	</array>
	<key>vbproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>vcxproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>vsixmanifest</key>
	<array>
		<string>xml</string>
	</array>
	<key>vssettings</key>
	<array>
		<string>xml</string>
	</array>
	<key>vstemplate</key>
	<array>
		<string>xml</string>
	</array>
	<key>vxml</key>
	<array>
		<string>xml</string>
	</array>
	<key>wixproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>wsdl</key>
	<array>
		<string>xml</string>
	</array>
	<key>wsf</key>
	<array>
		<string>xml</string>
	</array>
	<key>wxi</key>
	<array>
		<string>xml</string>
	</array>
	<key>wxl</key>
	<array>
		<string>xml</string>
	</array>
	<key>wxs</key>
	<array>
		<string>xml</string>
	</array>
	<key>x3d</key>
	<array>
		<string>xml</string>
	</array>
	<key>xacro</key>
	<array>
		<string>xml</string>
	</array>
	<key>xaml</key>
	<array>
		<string>xml</string>
	</array>
	<key>xib</key>
	<array>
		<string>xml</string>
	</array>
	<key>xlf</key>
	<array>
		<string>xml</string>
	</array>
	<key>xliff</key>
	<array>
		<string>xml</string>
	</array>
	<key>xmi</key>
	<array>
		<string>xml</string>
	</array>
	<key>xml.dist</key>
	<array>
		<string>xml</string>
	</array>
	<key>xproj</key>
	<array>
		<string>xml</string>
	</array>
	<key>xsd</key>
	<array>
		<string>xml</string>
	</array>
	<key>xspec</key>
	<array>
		<string>xml</string>
	</array>
	<key>xul</key>
	<array>
		<string>xml</string>
	</array>
	<key>zcml</key>
	<array>
		<string>xml</string>
	</array>
	<key>html</key>
	<array>
		<string>xml</string>
	</array>
	<key>htm</key>
	<array>
		<string>xml</string>
	</array>
	<key>xquery</key>
	<array>
		<string>xquery</string>
	</array>
	<key>xq</key>
	<array>
		<string>xquery</string>
	</array>
	<key>xql</key>
	<array>
		<string>xquery</string>
	</array>
	<key>xqm</key>
	<array>
		<string>xquery</string>
	</array>
	<key>xqy</key>
	<array>
		<string>xquery</string>
	</array>
	<key>yml</key>
	<array>
		<string>yaml</string>
	</array>
	<key>reek</key>
	<array>
		<string>yaml</string>
	</array>
	<key>rviz</key>
	<array>
		<string>yaml</string>
	</array>
	<key>sublime-syntax</key>
	<array>
		<string>yaml</string>
	</array>
	<key>syntax</key>
	<array>
		<string>yaml</string>
	</array>
	<key>yaml</key>
	<array>
		<string>yaml</string>
	</array>
	<key>yaml-tmlanguage</key>
	<array>
		<string>yaml</string>
	</array>
	<key>zep</key>
	<array>
		<string>zephir</string>
	</array>
</dict>
</plist>
